body {
    align-content: center;
    font: 0.8em Arial, Helvetica, sans-sefif;
    background: #d7e1f2;
}

td { 
    margin: 0 auto;
    border: 40px solid white;
    background-color: azure;
}

tr{
    font-size: 30px;
    background-color: azure;
}

table {
    margin-left:auto;
    margin-right:auto;
    border: azure;
    background-color: beige;
}
#button {
    text-align: center;
}

p {
    text-align: center;
    font-family: italic;
    font-size: 20px;
    color: rgb(124, 150, 30);
}
